.box1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiDy4aCQnyTUqq8fRpTgjiwd1TuZOS9i49Cg&s");
    background-size: cover;
    height: 100vh;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 50px;
    text-align: center;
}
.paragraph{
    
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 50px;
        text-align: center;
    }
